.filter {
  margin-bottom: 20px;
  display: flex;
  width: 100%;

  &__tab {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 50px;
    font-weight: 600;
  }
}
